@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./scheme.scss";

body {
	code {
		color: $text !important;
		background-color: #f6f6f6;
		border-radius: 4px;
		font-weight: 600;
		padding: 1.5px;
	}
	font-family: "Poppins", sans-serif;
}

.active {
	color: $text !important;
}

#nprogress {
	.spinner-icon {
		display: none;
	}

	.bar {
		background: $text !important;
	}
}
